// ----------------------------------------------------------------------------
// Widget styles
// ----------------------------------------------------------------------------
.widget-halt {

  background-color: #44162b !important;

  .title {
    color: #fff;
  }

  .switch-icon {
    font-size: 150%;
    color: #888888;
  }

}
