<% content_for :title do %>Kitchenboard<% end %>
<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-view="Clock"></div>
          <i class="icon-time icon-background"></i>
      </li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="forecast" data-view="Forecast" data-widget_title="<img src='http://forecast.io/favicon.ico' />Stockholm"></div>
      </li>

  </ul>
</div>