<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
//        Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
        Dashing.widget_base_dimensions = [250, 215]
        Dashing.numColumns = 3
    });
</script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.load("visualization", "1", {packages:["gauge"]});
</script>

<% content_for :title do %>Kitchenboard<% end %>
<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-view="Clock"></div>
      </li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
          <div data-id="forecast" data-view="Forecast" data-widget_title="<img src='http://forecast.io/favicon.ico' />Stockholm"></div>
      </li>
      <!--<li data-row="1" data-col="1" data-sizex="1" data-sizey="1">-->
          <!--<div data-id="tempHum1" data-view="Mgraph" data-title="Drinnen" style="background-color:#ffa618"></div>-->
      <!--</li>-->
      <!--<li data-switcher-interval="5000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">-->
          <!--<div data-id="drinnenTemp" data-view="Graph" data-title="Temperatur"></div>-->
          <!--<div data-id="drinnenHum" data-view="Meter" data-title="rel Feuchtigkeit" data-min="20" data-max="60"></div>-->
      <!--</li>-->

      <li data-switcher-interval="5000" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-graphtype="line" data-id="drinnenTemp" data-view="Graph" data-title="Temperatur"></div>
          <div data-id="mygaugeHum" data-view="GoogleGauge"  data-title="% rel" data-min="0" data-max="100" data-green_from="40" data-green_to="60"></div>
      </li>

      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="iframeId1" data-view="Iframe" data-width="258" data-height="220" data-url="https://www.google.com/calendar/embed?showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&showCalendars=0&showTz=0&mode=AGENDA&height=220&wkst=2&hl=de&bgcolor=%23000000&src=allotria%40gmail.com&color=%2329527A&src=andrea.stadelmann%40gmail.com&color=%231B887A&src=en.swedish%23holiday%40group.v.calendar.google.com&color=%2329527A&ctz=Europe%2FStockholm"></div>
      </li>


  </ul>
</div>
