<script type='text/javascript'>
    $(function() {
        // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
//        Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
        Dashing.widget_base_dimensions = [250, 218]
        Dashing.numColumns = 3
    });
</script>

<% content_for :title do %>Kitchenboard<% end %>
<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-view="Switcherclock" data-back="/kitchenboard" data-forward="/system"></div>
      </li>

      <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
          <div data-view="Onoffbuttons" data-title="WZ 1" data-device="1"></div>
      </li>

      <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
          <div data-view="Onoffbuttons" data-title="WZ 2" data-device="2"></div>
      </li>

      <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
          <div data-view="Onoffbuttons" data-title="WZ 3" data-device="3"></div>
      </li>

  </ul>
</div>
