<% content_for :title do %>Kitchenboard<% end %>
<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-view="Clock"></div>
          <i class="icon-time icon-background"></i>
      </li>
      <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
          <div data-id="forecast" data-view="Forecast" data-widget_title="<img src='http://forecast.io/favicon.ico' />Stockholm"></div>
      </li>

  </ul>
</div>

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<style type='text/css'>
    #dc-switcher-next { padding-left: 5px; }
    #dc-switcher-next-name, #dc-switcher-countdown { color: #ddd; }
    #dc-switcher-pause-reset { padding-left: 5px; }
    #dc-switcher-controls { float: right; margin-right: 10px }
    #dc-switcher-stopper:hover, #dc-switcher-next:hover { cursor: pointer; cursor: hand;}
    .switcher-text { color: white; font-weight: bold }
</style>

<div id='dc-switcher-controls'>
    <dashboard-name-template>
        <span class='switcher-text'>Next:</span>
        <em>&ensp;$nextName&ensp;</em>
        <span class='switcher-text'>in&ensp;</span>
    </dashboard-name-template>
</div>